<%- include("partials/header") %>
<Style>
	body{
		background: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-origin:center;
		background-size:100% 100%;
		 
	}
</Style>
<div class="ui main text container segment">
	<div class="ui huge header">
	Edit <%= blog.title %>
	</div>
	<form class="ui form" action="/blogs/<%= blog._id%>?_method=PUT" method="POST">
		<div class="field">
			<label>Title</label>
			<input type="text" name="blog[title]" value="<%= blog.title %>" >
		</div>
		<div class="field">
			<label>Image</label>
			<input type="text" name="blog[image]" value="<%= blog.image %>">
		</div>
		<div class="field">
			<label>Blog Content</label>
			<textarea  name="blog[body]"> <%- blog.body %></textarea>
		</div>
		
		<input class="ui inverted secondary button" type="submit"> 
		
	</form>
</div>

<%- include("partials/footer") %>